  .el-form-item__content{
    text-align: left;
  }
  .el-table--mini td, .el-table--mini th{
    padding: 3px 0;
  }
  .el-table thead{
    font-size: 13px;
  }
  .publicClass{
    background: #ffffff;
    padding: 10px;
  }
  .headerCountentStyle{
    background: #f6f5fa;
    height: 60px;
    display: flex;
    align-items: center;
  }
  .el-table .cell.el-tooltip {
    color: #76787b!important;
  }
